@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* styles.css */

/* Container for the grid */
.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Individual card styles */
.card {
  flex: 1 0 300px; /* Flex properties to control card width */
  padding: 20px;
  background-color: #fff;
 
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .card {
    flex-basis: calc(50% - 20px); /* Two cards per row on medium screens */
  }
}

@media screen and (max-width: 480px) {
  .card {
    flex-basis: calc(100% - 20px); /* One card per row on small screens */
  }
}

